.animate-slide-in {
    animation: slide-in 0.3s ease-out;
    z-index: 1100;
    font-size: var(--font-size-s);
  }
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
/* loading */
.loader {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.1); /* Light border */
    border-top: 3px solid  var(--light_level_2_color) ; /* Dark border for animation */
    border-radius: 50%; /* Makes it circular */
    animation: spin 1s linear infinite; /* Infinite spinning animation */
  }
  .loader-dark {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.644); /* Light border */
    border-top: 3px solid  var(--light_level_2_color) ; /* Dark border for animation */
    border-radius: 50%; /* Makes it circular */
    animation: spin 1s linear infinite; /* Infinite spinning animation */
  }
  button:hover .loader{
    border-top: 3px solid var(--main_color);
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  @media (max-width:500px) {
    .svg404{
        height: 300px;
    }
    
  }